.encabezado {
    height: 15%;
    background-color: white;
}

.yo {
    font-family: 'Unbounded', cursive;
    font-size: 3vw;
    padding-left: 1vw;
    padding-top: 2vw;
    text-decoration: none;
    color: black;
}

.menu {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    background-color: white;
    padding-top: 3vw;
    text-align: center !important;
    justify-content: space-around !important;
}

.link {
    text-decoration: none;
    color: black !important;
    height: 30%;
}

.link:hover {
    color: #E94E1A !important;
    cursor: pointer;
}


.boton {
    background-color: black;
    color: white;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    text-align: center;
    height: 100%;
    width: 100%;
}

.boton:hover {
    background-color: #E94E1A;
    color: white;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    cursor: pointer;
}

.linkote {
    text-decoration: none;
    color: white;
    font-family: 'Raleway', sans-serif;
    display: block;
    height: 100%;
    width: 100%;
    padding-top: 3vw;
}

.bienvenida {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 6vw;
}
    